:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;

  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {

  background-color: var(--bg-primary);
  position: fixed;
  transition: width 200ms ease;
}



.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  /*o ultimo item (botao de tema) fica mais abaixo.*/
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  /*altura é igual a largura do nav, fazendo ficar quadradinho.*/
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  /* deixa com filtro cinza. No hover o filtro é removido, deixando colorido.*/
  transition: var(--transition-speed);

}

.nav-link:hover {
  filter: none;

  background: var(--bg-secondary);
  color: var(o);
}

.link-text {
  display: none;
  /*o texto só deve ser mostrado com o hover do mouse em telas grandes*/
}

.nav-link svg {
  min-width: 2rem;
  max-width: 2rem;
  margin: 0 1.5rem;
}



/*fontawesome.com*/
/*cores dos svgs*/
.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  margin-bottom: 1rem;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  font-size: 1rem;
}

.logo-text {
  padding-left: 1rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}


/* Telas grandes */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
}

/* Telas pequenas */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    height: 5rem;
    width: 100vw;
  }

  .logo {
    display: none;
    /*remove a logo pois ela ocupa muito espaco em telas pequenas*/
  }

  .navbar-nav {
    flex-direction: row;
    /*deixa alinhado horizontalmente*/
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}


.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  max-width: 2rem;
  display: block;
}

.light #lightIcon {
  max-width: 2rem;
  display: block;
}